{% extends "lib/base.html" %}

{% macro heart() -%}
      <svg viewbox="0 0 497 470">
        <g stroke="#ffb6c1" stroke-width="20">
          <path d="M140,20C73,20 20,74 20,140 20,275 156,310 248,443 336,311 477,270 477,140 477,74 423,20 357,20 309,20 267,48 248,89 229,48 188,20 140,20Z"/>
        </g>
      </svg>
{%- endmacro %}

{% block body %}
    <h1>{{ event.location_name }}</h1>

    {%- if hearted %}
    <span class="heart voted">{{ heart() }}</span>
    {%- else %}
    <a class="heart" id="heart" href="{{ url_for('app.heart', id=event.id, token=session['csrf']) }}">{{ heart() }}</a>
    {%- endif %}
    
    <span id="score">{{ event.get_score() }}</span>
    <form class="new-sentiment" method="POST" action="{{ url_for('.post_sentiment', id=event.id) }}">
      <input type="hidden" name="token" value="{{ session['csrf'] }}">
      <textarea name="text" placeholder="Say something for them..."></textarea>
      <input type="submit">
    </form>
    {%- for sentiment in sentiments %}
    <div class="sentiment">
      <div class="vote-box">
        <span class="vote-score">{{ sentiment.get_score() }} votes</span>
        <span class="arrows">
          {%- if not sentiment.vote_for(session['id']) %}
          <a class="vote up" href="{{ url_for('.sentiment_vote', id=sentiment.id, token=session['csrf'], how='up') }}"></a>
          <a class="vote down" href="{{ url_for('.sentiment_vote', id=sentiment.id, token=session['csrf'], how='down') }}"></a>
          {%- elif sentiment.vote_for(session['id']).direction == 'up' %}
          <a class="vote up active" href="{{ url_for('.sentiment_vote', id=sentiment.id, token=session['csrf'], how='none') }}"></a>
          <a class="vote down" href="{{ url_for('.sentiment_vote', id=sentiment.id, token=session['csrf'], how='down') }}"></a>
          {%- else %}
          <a class="vote up" href="{{ url_for('.sentiment_vote', id=sentiment.id, token=session['csrf'], how='up') }}"></a>
          <a class="vote down active" href="{{ url_for('.sentiment_vote', id=sentiment.id, token=session['csrf'], how='none') }}"></a>
          {%- endif %}
        </span>
        6 comments
      </div>
      <div class="sentiment-text">{{ sentiment.text }}</div>
    </div>
    {%- endfor %}
    <script>
      // Heart button handling
      var heart = document.getElementById('heart');
      if (heart !== null) {
        var scoreElem = document.getElementById('score');
        heart.addEventListener('click', function(e) {
          e.preventDefault();
          // Send the request
          var xhr = new XMLHttpRequest();
          xhr.open('GET', this.getAttribute('href'));
          xhr.send();
          // Update styles
          this.setAttribute('href', 'javascript:void(0)');
          this.className = 'heart voted';
          scoreElem.textContent = parseInt(scoreElem.textContent) + 1;
        });
      }
      // Auto-resize textareas
      var areas = document.getElementsByTagName('textarea');
      for (var i = 0; i < areas.length; i++) {
        var resize = (function(offset) {
          return function() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + offset + 'px';
          }
        })(areas[i].offsetHeight - areas[i].clientHeight);
        areas[i].addEventListener('keyup', resize);
        areas[i].addEventListener('input', resize);
      }
    </script>
{%- endblock %}
