<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Love Wall</title>
    <style>
      .container {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
      svg {
        display: block;
        margin: 0 auto;
      }
      .map {
        fill: #c3c3c3;
      }
      .location-dot {
        fill: #F06292;
      }
      .location-line {
        stroke: #f06292;
        stroke-width: 1.5px;
      }
      .location-name {
        fill: #f06292;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <svg></svg>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
